<template>
    <form action="#">
        <input name="kodeUrusan" class="form-group" type="text" placeholder="Kode Urusan">
        <input name="namaUrusan" class="form-group" type="text" placeholder="Nama Urusan">
    </form>
</template>
<script>
    export default{
        
    }
</script>