<template>
    <div class="QA_table mb_30">
        <div class="dataTables_btn btn-group" role="group" aria-label="Basic example">
        
        </div>
        <create-form />
        <table id="tabelUrusan_90" class="table multiplegroup tableFiltered">
            <thead>
                <tr>
                    <th width="5%">No.</th>
                    <th>Kode Urusan</th>
                    <th>Nama Urusan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
        </table>
    </div>
</template>
 
<script>
    import createForm from './create';

    export default {
        components: {
            createForm
        }
    }
</script>