<template>
    <div>
        <sidebar></sidebar>
        <topbar></topbar>
    </div>
</template>

<script>
    import sidebar from './SidebarComponent.vue';
    import topbar from './TopbarComponent.vue';

    export default {
        components: {
            sidebar,
            topbar,
        },
        mounted(){
        }
    };
</script>