<template>
    <div class="row">
        <div class="col-12">
            <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                <div class="page_title_left">
                    <h3 class="f_s_25 f_w_700 dark_text" >Dashboard</h3>
                    <ol class="breadcrumb page_bradcam mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Main</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Monev</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Renja</a></li>
                    </ol>
                </div>
                <div class="page_title_right">
                    <div class="page_date_button">
                        August 1, 2020 - August 31, 2020
                    </div>
                    <div class="dropdown common_bootstrap_button ">
                        <span class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                           action
                        </span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
                            <a class="dropdown-item f_s_16 f_w_600" href="#"> Download</a>
                            <a class="dropdown-item f_s_16 f_w_600" href="#"> Print</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
            alert()
        }
    }
</script>
