<template>
	<!-- sidebar  -->
    <nav class="sidebar">
        <div class="logo d-flex justify-content-between bg-dark">
            <a class="large_logo" :href="'#'">
                <img :src="'/storage/img/simrenda-full.png'" alt="" height="34px">
                <h5 class="text-light"><b>Rencana Kerja</b></h5>
            </a>

            <a class="small_logo" :href="'index.html'">
                <img :src="'/storage/img/simrenda-logo.png'" alt="" height="34px">
                <h5 class="text-light"><b>Renja</b></h5>
            </a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu" class="metismenu">
            <li>
                <a :href="'index.html'" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img :src="'/img/menu-icon/dashboard.svg'" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Menu Utama</span>
                    </div>
                </a>
            </li>
            <h4 class="menu-text"><span>Dashboard Renja</span> <i class="fas fa-ellipsis-h"></i> </h4>
            <li>
                <a :href="'#'" v-on:click="goLink('murni')" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img :src="'/img/menu-icon/5.svg'" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Dashboard </span>
                    </div>
                </a>
            </li>
            <h4 class="menu-text"><span>Monev Renja</span> <i class="fas fa-ellipsis-h"></i> </h4>
            <li class="">
                <a class="has-arrow" :href="'#'" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img :src="'/img/menu-icon/2.svg'" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Monev Hasil</span>
                    </div>
                </a>
                <ul class="mm-collapse" style="height: 5px;">
                    <li><a :href="'#'" v-on:click="goLink('murni')">Murni</a></li>
                    <li><a :href="'#'">Perubahan</a></li>
                </ul>
            </li>
            <li>
                <a :href="'Builder.html'" aria-expanded="false">
                    <div class="nav_icon_small">
                        <img :src="'/img/menu-icon/2.svg'" alt="">
                    </div>
                    <div class="nav_title">
                        <span>Analisis </span>
                    </div>
                </a>
            </li>
            <li class="">
                <a class="has-arrow" :href="'#'" aria-expanded="false">
                    <div class="nav_icon_small">
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="nav_title">
                        <span>Unduh </span>
                    </div>
                </a>
                <ul>
                    <li>
                        <a :href="'#'">Petunjuk Pengisian</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--/ sidebar  -->
</template>

<script type="text/javascript">
    export default {
        data() {
            return {
            //
            }
        },
        mounted(){
            $("#sidebar_menu").metisMenu();
        },
        methods:{
            goLink(link){
                this.$router.push({ name: link})
            }
        }
    };
</script>